<div>
    {# tramite l'if verifichiamo che l'array users abbia almeno un valore e tramite il ciclo for stampiamo i valori
    presente nell'array #}
    {% if users|length > 0 %}
        <ul>
            {% for user in users %}
                <li>
                {{ user.name }} {{ user.surname }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessun utente</p>
    {% endif %}
</div>
